



#SearchB{

    width:auto;
    height:30px;
    padding:0;
    margin-bottom: 7px;
    margin-left:7px;
    box-shadow: none;
}
/*
#maRecherche{
    width:50%;
    font-size: 1em;
}
*/
#BoutonRech{
    background-color: #0065fc;
    width:110px;
    font-size: 100%;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:0;
    margin:0;
    font-size: 1em;
    height:40px;
    position:relative;
    right:12px;

}

input{
    width:200px;
    height:40px;
    position:relative;
    right:5px;
}

.fa-map-marker-alt{
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    width:30px;
    background-color:#f2f2f2;

}

body{
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding-left:10px;
}

.ancre{
    color:black;
    text-decoration: none;
}
.ancre:hover{
    color:blue;
}

#boxHeader{
    display: flex;
    align-items: flex-start; 
    justify-content:space-between;
}


#menu{
    display: flex;
    align-items: flex-start; 
    justify-content: left;
    border:1px solid black;

}

#hébergement, #Activités, #Sinscrire{
    margin:5px;



}
#hébergement:hover,#Activités:hover {
    color : rgb(53, 207, 200);
    border-top:1px solid rgb(53, 207, 200);
}







#I1,#I2,#I3{
    display:inline-block;
    width: 30%;
}



.bold{
    font-weight: bold;
}

.info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f2f2f2;
    clear:both;
}

#ancreA{
    clear:both;
}



#Partie2{
    width:100%;


}

#Heber{
    width: 65%;

    background-color: #f2f2f2;
    margin-bottom: 5%;
    float:left;
}

.LesPlus{
    width: 30%;

    background-color: #f2f2f2;
    float:right;
    margin-left:2px;
    border-radius:1%;


}

#HeberAff{
    padding-top:5%;
    font-weight: bold;
}


.BoiteArrondieLesPlus{
    width:95%;

    margin-left:1%;
    border-radius:2%;

    background-color: white;
    box-shadow:5px 5px 10px rgb(129, 129, 129);

    display : inline-flex;
    margin-bottom:2%;
}

.imageLesPlus{
    width:90%;

    margin:2%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.divImageLesPlus {

    width:45%;
}
.textBALesPlus{

    width:55%;
    margin:0px auto;
}


.BoiteArrondie{

    width: 30%;
    margin: 0.5%;
    border-radius: 10px;
    background-color: white;

    box-shadow:5px 5px 10px rgb(129, 129, 129);

}

.image{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*
.BoxAweAli{
    
}
*/
/*
.BoiteArrondie2{
    height: 30px;
    width: 180px;
    margin-left: 1%;
    border : 1px solid black;
    border-top-width: 1px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    position: relative;
    right:2px;
}
*/

.BoiteFiltres{
    height: 25px;
    width: auto;

    border : 1px solid #deebff;
    border-left: none;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position:relative;
    right:15px;
    text-align: center;
    padding-top:5px;
    padding-left:11px;
    padding-right:5px;
}



.BoiteFiltres:hover{
    background-color:rgb(53, 207, 200)
}

#logo{
    width: 77px;
    height:36px;
}



.BoiteAweso{
    display: flex;
    align-items: flex-start;

}

#BA1, #BA2, #BA3{
    display : inline-block;
    width:30%;
}


.fa-star {
    color: rgb(0, 183, 255);
}

.fa-circle{
    color: #deebff;
    
}


.fa-heart, .fa-money-bill-wave-alt, .fa-child, .fa-dog{
    color:#0065fc;
}


.fa-chart-line{

    position:relative;
    left:20px


}
h2{
    font-size: 1em;
}


#BoiteImgAct{
    display: flex;
    align-items: flex-start;  
}

.divImageAct{
    width: 16%;
    padding-right: 2%;

}

.imageAct{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divImageAct2{
    width:30%; 
    padding-right: 2%;   
}

.imageAct2{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#BoiteImgActRES{
    display:none;
    width:90%;
}
/*
.fa-info{
    border:1px solid black;
    width:20px;
    height:20px;
    border-radius:100%;


}
*/
.fa-info{

    width:3%;
    height:100%;
    border-radius:25px;
    color:#0065fc;
    background-color: white;
    border:1px solid black
}

@media screen and (max-width:780px){





    body{
        padding:0;
        margin:0;
    }
    #I1,#I2,#I3{
        display:block;
        width: auto;
    }
    .info{
        display:block;
    }



    .LesPlus, #Heber, .info, #ancreA, .Partie3, .Partie1{
        float:none;
        height: auto;
        width: 100%;
        clear:both;
        padding: 0;
        margin: 0;
    }


    #boxHeader{
        display: block;

    
    }
    
    #hébergement, #Activités{
        display: block;
    }
    
    #hébergement{
        border: cornsilk;
        position: static;
        width: 100px;
        height: auto;

    }
    
    #Activités{
        border: cornsilk;
        position: static;

        width: 100px;
        height: auto;

    }

    #Sinscrire{
        border: cornsilk;
        position: absolute;
        top:0px; left:200px;

        width: auto;
        height: auto;

    }

    #IconInfo{
        padding-bottom:2%
    }

    .BoiteAweso{
        display: block;
        margin-top:7px;
        
    
    }

    .BoiteArrondie{
        width:95%;
        height:100%;

    }

    .image, .textBA{
        display : inline-block;
    }

    .divImageAct, .divImageAct2{
        width: 100%;
    }
/*
    .imageAct{
        width:70%;
    }
*/
    #BoiteImgAct{
        display:none;
    }

    #BoiteImgActRES, .divImageAct, .divImageAct2{
        display:block;
    }

    #BA1, #BA2, #BA3{
        display : block;
        width:95%;
        height:100%;
    }

    

    #Header{
        position: absolute;
        top:0px
    }
    .Partie1{
        position:absolute;
        top:100px
    }

    #Heber{
        position:absolute;
        top:1400px;
    }

    .LesPlus{
        position: absolute;
        top: 600px;
    }
/*
    #Partie2{
        position: absolute;
        top:680px;
        max-width:95%;
    }
*/
    .Partie3{
        position:absolute;
        top:3700px;
    }

    /*
    .div2{
        background-color: red;
        margin:1%;
        display:block;
        width:100%
    }
    */
    /*
    .debug{
        border:1px solid black
    }
    */

}